################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/UAM.OOP/bin
/UAM.OOP/obj
/.vs
